body {
    max-width: 800px;
    margin: 2rem auto;
}

header {
    background-color: #8ac5c3;
}


footer {
    background-color: #edece8;
}

img.som-shield {
    height: 2em;
    display: block;
}

input {
    display: block;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
